<%= if @current_scope do %>
  <div class="edit">
    <a href={~p"/office/posts/#{@post.id}"}>Edit</a>
  </div>
<% end %>

<header class="post">
  <.pretty_date date={@post.published_on} />
  <h1 class="page-title">{@post.title}</h1>
  <p>
    {@post.description}
  </p>
</header>
<section class="page-content">
  <article>
    <%!-- Post body --%>
    <div class="post-body">
      {raw(@post.html)}
    </div>
  </article>
</section>
