<div id="alreet">
  <div class="latest-published-posts">
    <h2>Latest writing</h2>
    <nav class="post">
      <a
        :for={post <- @posts}
        href={~p"/posts/#{post.slug}"}
        id={"post-#{post.id}"}
        class="featured-post"
      >
        <p>
          {post.title}

          <.pretty_date date={post.published_on} />
        </p>
      </a>
    </nav>
  </div>
</div>
